<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>
    <div class="nav_links">
      <a href ="homepage.mustache">Gabble</a>
      <a href="signup.mustache">SignUp</a>
      <a href="login.mustache">Login<a/>


  </body>
</html>
